html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #F2F3F7;
  color: black;
}

.content .title {
  text-align: left;
  color: "#949494";
  font-size: 18px; 
  margin-left: 30px;
  margin-bottom: 0px;
}