html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #f1f3f7;
  color: black;
}

.title {
  text-align: left;
  color: rgb(68, 65, 94);
  font-size: 18px; 
  margin-left: 20px;
}