.item{
    align-items: center;
    margin-bottom: auto;
    margin-right: 5px;
    margin-left: 5px;
    overflow: visible;
}
  
.card {
    font-family: 'GmarketSansBold';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    transition: 0.3s;
    margin: 3vh;
    padding: 1vh;
  
    border-radius: 5px;
    background: #F2F3F7;
    box-shadow: -6px -6px 16px #FFFFFF,
                6px 6px 16px #BECDE2;
}

.card:active{
    border-radius: 5px;
    background: #F2F3F7;
    box-shadow: inset 3px 6px 12px #BECDE2, 
                inset -6px -6px 12px #ffffff;
}

.description {
    font-size: 13px;
    color: rgb(66, 66, 66);
}