html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background-color: #f1f3f7;
  color: black;
}

.box {
  margin-left: 30px;
  margin-right: 30px;
  align-content: center;
  height: 100%
}

.item{
  align-items: center;
  margin-bottom: auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  transition: 0.3s;
  margin: 3vh;
  margin-top: 3vh;

  border-radius: 20px;
  background: #f1f3f7;
  box-shadow:  8px 8px 13px #8e8f92, 
               -8px -8px 13px #ffffff;
}

.container {
  padding: 10px 16px;
}